[submodule "deps/continuo-shared"]
	path = deps/continuo-shared
	url = https://github.com/WhiteToblack/continuo-shared.git
[submodule "deps/continuo-messaging"]
	path = deps/continuo-messaging
	url = https://github.com/WhiteToblack/continuo-messaging.git
[submodule "deps/continuo-configuration"]
	path = deps/continuo-configuration
	url = https://github.com/WhiteToblack/continuo-configuration.git
[submodule "deps/continuo-observability"]
	path = deps/continuo-observability
	url = https://github.com/WhiteToblack/continuo-observability.git
